body {background: url("digital.png")}
table.display {width: 280px; padding-left: 20px; padding-top: 40px; }
td.display {font-size: 60px; text-align: center; }
table.timer {position:absolute; bottom:10px;}
